<div class="top-row ps-3 navbar navbar-dark" style="height : 100px;text-align : center">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Quản Lý Việc Học <p></p>Làm Việc Tại Trường</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Các Việc Cần Làm
            </NavLink>
        </div>

        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <i class="fas fa-cloud-sun" aria-hidden="true" ></i> Thời Tiết

            </NavLink>
        </div>
    </nav>
</div>

